$primary: #509898;
$secondary: #cf9b48;
@import "~bootstrap/scss/bootstrap";

button {
  margin-top: 14px;
  padding: 7px 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 5px 10px #626262;
  cursor: pointer;
  background-color: #cf9b48;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}
